[submodule "seastar"]
	path = seastar
	url = https://github.com/criteo-forks/scylla-seastar
	ignore = dirty
	branch = scylla-seastar-5.4.9-criteo
[submodule "swagger-ui"]
	path = swagger-ui
	url = https://github.com/scylladb/scylla-swagger-ui
	ignore = dirty
[submodule "scylla-jmx"]
	path = tools/jmx
	url = https://github.com/scylladb/scylla-jmx
[submodule "scylla-tools"]
	path = tools/java
	url = https://github.com/scylladb/scylla-tools-java
[submodule "scylla-python3"]
	path = tools/python3
	url = https://github.com/scylladb/scylla-python3
[submodule "tools/cqlsh"]
	path = tools/cqlsh
	url = https://github.com/scylladb/scylla-cqlsh
